

body{background-color: coral;}

.fd{background-color: aquamarine;}

#cell{background-color: rgb(12, 13, 13);}

#pass{background-color: blueviolet;}

#select{background-color: chartreuse;}

#subject{background-color: chocolate;}

#dob{background-color: crimson;}

#textarea{background-color: darkgoldenrod;}

